div.header.navbar.navbar-default(role='navigation')
	div.navbar-header
		button.navbar-toggle(data-toggle='collapse',data-target='#navBar',type='button')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		img.logo(src='/static/images/680_normal.png')
		a.logo(href='/') #{brand}
	div.collapse.navbar-collapse#navBar
		ul.nav.navbar-nav
			li
				a(href='/posts')= __('news')
			li.dropdown
				a.dropdown-toggle(href='#',data-toggle='dropdown')= __('weixinhao')
					b.caret
				ul.dropdown-menu
					li
						a.clean_link(href='javascript:void(0)') ManUnited7
						a.clean_link(href='javascript:void(0)')
							img.weixin_logo(src='/static/images/getqrcode.jpg')
		ul.nav.navbar-nav.navbar-right
			li
				a.i18n.en(href='javascript:void(0)') English
			li
				a.i18n.zh(href='javascript:void(0)') 中文
			//- 			<!-- <% if(locals.session.user_id) {%>
			//- 				<li><a href='/profile'><%= locals.session.user_name%></a></li>
			//- 				<li><a href='/logout' class='logout glyphicon glyphicon-off'></a></li>
			//- 			<%} else {%>
			//- 				<li><a href='/login'><%=__("signIn")%></a></li>
			//- 			<%}%> -->
			
			
