script(src='/static/lib/moment/min/moment.min.js')
script(src='/static/lib/lodash/lodash.min.js')
script(src='/static/lib/jquery/dist/jquery.min.js')
script(src='/static/lib/blockUI/jquery.blockUI.js')
script(src='/static/lib/jquery-i18n/jquery.i18n.min.js')
script(src='/static/lib/jquery.cookie/jquery.cookie.js')
script(src='/static/lib/jquery-placeholder/jquery.placeholder.min.js')
script(src='/static/lib/bootstrap/dist/js/bootstrap.min.js')
script(src='/static/lib/notifyjs/dist/notify.js')
script(src='/static/javascripts/util/service.js')
script(src='/static/javascripts/util/ui.js')
script(src='/static/javascripts/global.js')
script(type='text/javascript').
	//moment.locale('zh-cn');
