extends ../layouts/admin

block content
	form.form-signin
		h2.form-signin-heading=__('pleaseSignIn')
		input.form-control#userNameInput(type='text',name='user',placeholder='#{__("userName")}')
		input.form-control#pwdInput(type='password',name='password',placeholder='#{__("password")}')
		button.btn.btn-lg.btn-red.btn-block#signInBtn(type='button')=__('signIn')

block extraScripts	
	script(src='/static/javascripts/admin/login.js')
