extends ../layouts/default
block content
	div.posts
	div.paginater.pull-right.row
block extraScripts
	script(src='/static/javascripts/util/post.ui.js')
	script(src='/static/javascripts/index/posts.js')
