extends ../layouts/default
block content
	div.post
block extraScripts
	script.
		var slug = '!{slug}';
		var jiathis_config = {data_track_clickback:'true'};
	script(src='/static/javascripts/util/post.ui.js')
	script(src='/static/javascripts/index/post.js')
